.input {
  width: 100%;
  height: 48px;
  line-height: 48px;
  background: transparent;
  border: none;
  color: var(--app-calc-footer-color);
  font-size: 32px;
}

.input::placeholder {
  color: var(--app-color-muted);
}

.input:focus {
  outline: none;
}